@import '../../variables.scss';

.filterButton {
  cursor: pointer;
  background-color: $secondary;
  color: #fff;
  border: solid 1px $divider;
  border-radius: $shapeBorderRadius;
  padding: 10px;
}
.ordered {
  border: solid 1px $quaternary;
}