@import '../../../variables.scss';

@mixin media-min($_min-width) {
  @media screen and (min-width: $_min-width) {
      &{ @content; }
  }
}

.drawer {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background-color: #fff;
  left: 0px;
  @include media-min(768px) {
    position: absolute;
    height: 100%;
    border-right: solid 1px $divider;
  }
}

.drawerContent {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.drawerTitle {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 20px;
  margin: 15px;
  border-bottom: solid 1px $divider;
}